{% extends 'masterpage.html' %}
{% block container %}
    <div class="breadcrumbs-v3 img-v1 text-center">

    </div>
    <div class="breadcrumbs">
			<div class="container">
				<h1 class="pull-left">Akıllı Ev Sistemi Nedir ?</h1>
				<ul class="pull-right breadcrumb">
					<li><a href="/">Anasayfa</a></li>

					<li class="active">Akıllı Ev Sistemi Nedir ?</li>
				</ul>
			</div><!--/container-->
    </div>
    <div class="container content">
			<div class="row margin-bottom-40">
				<div class="col-md-6 md-margin-bottom-40">

                        <h2>Akıllı Ev Sistemi Nedir ?</h2>
                        <p>Yaşadığımız mekanları, gelişen teknolojiler ile bütünleştirerek daha konforlu, daha güvenli ve daha keyifli bir yaşam alanına dönüştürmek kısaca akıllı ev olarak tanımlanıyor.</p>
                        <p>Evinizin herhangi bir noktasından istenilen bölgenin aydınlatma, perde-panjur, enerji, iklimlendirme, ev sinema sistemi, bahçe sulama, alarm sistemi, kamera sistemi, yada başka bir cihazın kullanımını kilometrelerce uzaklıktan kontrol etme özgürlüğü sunuyor.</p>



                    <blockquote class="hero-unify">
                        <h2>Neden Alberto Akıllı Ev Sistemi?</h2>
                        <p>Çünkü kablosuzdur, evinizde herhangi bir kırıp dökmeye gerek olmadan çok kısa sürede kurulumu gerçekleştirilir...Çünkü ekonomik bir şekilde sahip olabilirsiniz ve bütçenizi zorlamaz...Çünkü kullanımı kolaydır ve hayatınızı bir anda daha konforlu hale getirecek ve kolaylaştıracak bir sisteme sahip olursunuz...Çünkü önceden programlanan senaryolar (Sinema, Tatil, Uyku, Yemek, Toplantı gibi) ve program opsiyonları sayesinde hayatınız kolaylaşacaktır...</p>

					</blockquote>
				</div>

				<div class="col-md-6 md-margin-bottom-40">
					<div class="responsive-video">
                        <iframe width="530" height="300" src="https://www.youtube.com/embed/hqN_dgN4L8A" frameborder="0" allowfullscreen=""></iframe>
					</div>
				</div>
			</div><!--/row-->
            <div class="row margin-bottom-40">
                <div class="col-md-6 md-margin-bottom-40">

                        <img style="width: 100%" src="/static/img/alberto1.jpg">

				</div>
				<div class="col-md-6 md-margin-bottom-40">
                    <blockquote class="hero-unify">
                        <h2>Alberto sisteminin size özel olarak sunduğu konfordan sadece birkaçı;</h2>

                        <p>Sabah siz yatağınızdayken kahvenizin hazır olması,Yağmur yağdığında panjurlarınızın otomatik olarak kapanması,Su veya Gaz kaçağı durumlarında vanaların otomatik olarak kapanması,Tek bir dokunuşla evinizin tüm güvenliğini sağlayabilmeniz ve herhangi bir tehdit durumunda tüm ışıkların açılması, siren çalması ve müzik sisteminin çalışması,Bahçenizin belirlediğiniz zamanlarda sulanması,Evinizin Isıtma ve Soğutma sisteminin programladığınız şekilde çalışması,</p>


					</blockquote>
				</div>


			</div><!--/row-->
            <div class="row margin-bottom-40">
                <div class="col-md-12 md-margin-bottom-40">
                    <blockquote class="hero-unify">
                        <h2>Akıllı Ev Sistemi Nasıl Çalışır?</h2>

                        <p>Kablosuz Akıllı Ev Sisteminizi kurulumu yapıldıktan sonra tüm mobil cihazlarla ister evinizden ister dünyanın diğer ucundan kolaylıkla yönetebilirsiniz. Kablosuz Akıllı Ev Sistemlerinin içinde bulunan wifi modülü ile internet noktalarında sisteminizi yönetebilirsiniz.</p>

					</blockquote>
                </div>
            </div>

		</div>

{% endblock %}

{% block js %}
     <script type="text/javascript">
    jQuery(document).ready(function () {
        App.init();
        App.initCounter();
        App.initParallaxBg();
        StyleSwitcher.initStyleSwitcher();
        RevolutionSlider.initRSfullScreenOffset();
    });
</script>
{% endblock %}