{% extends 'masterpage.html' %}
{% block container %}
    <!--=== Slider ===-->
    <div class="tp-banner-container margin-top-50">
        <div class="tp-banner">
            <ul>
                <!-- SLIDE -->
                <li class="revolution-mch-1" data-transition="fade" data-slotamount="5" data-masterspeed="1000"
                    data-title="Slide 1">
                    <!-- MAIN IMAGE -->
                    <img src="/static/img/banner.jpg" alt="darkblurbg" data-bgfit="cover"
                         data-bgposition="center center" data-bgrepeat="no-repeat">

                    <!-- LAYER -->
                    <div class="tp-caption re-title-v1 sft start"
                         data-x="center"
                         data-hoffset="0"
                         data-y="100"
                         data-speed="1500"
                         data-start="500"
                         data-easing="Back.easeInOut"
                         data-endeasing="Power1.easeIn"
                         data-endspeed="300">

                    </div>
                    <!-- END LAYER -->

                    <!-- LAYER -->
                    <div class="tp-caption re-text-v1 sft"
                         data-x="center"
                         data-hoffset="0"
                         data-y="200"
                         data-speed="1400"
                         data-start="2000"
                         data-easing="Power4.easeOut"
                         data-endspeed="300"
                         data-endeasing="Power1.easeIn"
                         data-captionhidden="off"
                         style="z-index: 6">

                    </div>
                    <!-- END LAYER -->

                    <!-- LAYER -->

                    <!-- END LAYER -->
                </li>
                <!-- END SLIDE -->

            </ul>
            <div class="tp-bannertimer tp-bottom"></div>
        </div>
    </div>
    <!--=== End Slider ===-->



    <div class="bg-grey content-sm">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="responsive-video margin-bottom-30">
                        <iframe width="530" height="300" src="https://www.youtube.com/embed/hqN_dgN4L8A?rel=0&loop=1" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-md-6">
                    <h2 class="title-v2">Akıllı Ev Sistemi Nedir ?</h2>
                    <p>Yaşadığımız mekanları, gelişen teknolojiler ile bütünleştirerek daha konforlu, daha güvenli ve daha keyifli bir yaşam alanına dönüştürmek kısaca akıllı ev olarak tanımlanıyor.</p>
                    <p>Evinizin herhangi bir noktasından istenilen bölgenin aydınlatma, perde-panjur, enerji, iklimlendirme, ev sinema sistemi, bahçe sulama, alarm sistemi, kamera sistemi, yada başka bir cihazın kullanımını kilometrelerce uzaklıktan kontrol etme özgürlüğü sunuyor.</p>
                </div>
            </div>
        </div>
    </div>


    <section id="" class="overflow-h">
        <div class="row-fluid no-gutter">
          <div class="col-md-6 g-height-60x g-min-height-500px" style="background: url(/static/img/home-img1.svg) no-repeat 50% 0 / cover; border: 70px solid #ffffff;background-color: #ffffff;height: 460px;">

          </div>
          <div class="col-md-6 g-height-60x g-min-height-500px" style="background: url(/static/img/home-img2.svg) no-repeat 50% 0 / cover;border: 70px solid #eaeaf4; background-color: #eaeaf4; height: 460px;">

          </div>
    </div>
    </section>


    <div id="neler-yapabilir" class="container content-sm">
        <div class="row">
            <h2 class="headline-center">Neler Yapabilir ?</h2>
            <div class="col-sm-6 content-boxes-v3 content-boxes-v3-right sm-margin-bottom-30">
                <div class="clearfix">
                    <i class="icon-custom icon-md rounded-x icon-bg-u icon-line icon-badge"></i>
                    <div class="content-boxes-in-v3">
                        <h2 class="heading-sm">DIŞ MEKAN IŞIKLANDIRMA</h2>
                    </div>
                </div>
                <div class="clearfix">
                    <i class="icon-custom icon-md rounded-x icon-bg-darker icon-line icon-badge"></i>
                    <div class="content-boxes-in-v3">
                        <h2 class="heading-sm">BAHÇE SULAMA</h2>
                    </div>
                </div>
                <div class="clearfix">
                    <i class="icon-custom icon-md rounded-x icon-bg-u icon-line icon-badge"></i>
                    <div class="content-boxes-in-v3">
                        <h2 class="heading-sm">İÇ MEKAN AYDINLATMA</h2>
                    </div>
                </div>
                <div class="clearfix">
                    <i class="icon-custom icon-md rounded-x icon-bg-darker icon-line icon-badge"></i>
                    <div class="content-boxes-in-v3">
                        <h2 class="heading-sm">PANJUR KONTROL SİSTEMİ</h2>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 content-boxes-v3">
                <div class="clearfix">
                    <i class="icon-custom icon-md rounded-x icon-bg-darker icon-line icon-badge"></i>
                    <div class="content-boxes-in-v3">
                        <h2 class="heading-sm">GARAJ KAPISI KONTROL</h2>
                    </div>
                </div>
                <div class="clearfix">
                    <i class="icon-custom icon-md rounded-x icon-bg-u icon-line icon-badge"></i>
                    <div class="content-boxes-in-v3">
                        <h2 class="heading-sm">SENARYOLU BAHÇE SULAMA</h2>
                    </div>
                </div>
                <div class="clearfix">
                    <i class="icon-custom icon-md rounded-x icon-bg-darker icon-line icon-badge"></i>
                    <div class="content-boxes-in-v3">
                        <h2 class="heading-sm">DIŞ KAPI KONTROL</h2>
                    </div>
                </div>
                <div class="clearfix">
                    <i class="icon-custom icon-md rounded-x icon-bg-u icon-line icon-badge  "></i>
                    <div class="content-boxes-in-v3">
                        <h2 class="heading-sm">HAVUZ MOTORU VE IŞIKLARI KONTROLÜ</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}

    <script type="text/javascript">
    jQuery(document).ready(function () {
        App.init();
        App.initCounter();
        App.initParallaxBg();
        StyleSwitcher.initStyleSwitcher();
        RevolutionSlider.initRSfullScreenOffset();
    });
</script>
{% endblock %}